body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800px;
}
.text-primary{
    color: rgb(235, 166, 38);
}
nav > ul{
    display: flex;
    align-items: center;
  
}
ul > li,a{
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 14px 18px;
    border: none;
    border-radius: 5px;
}
.header{
    background-color: #f0edec;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* banner style */
.banner{
    padding: 30px 30px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 0;
}
.banner-text{
    margin-top: 5px;
}
.banner-content{
    max-width: 500px;
  
}
.profile{
    width: 500px;
}
/* main section start */
main{
    max-width: 1240px;
    margin: 0 auto;
}
/* about section */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
/* what i do section */
.section-title{
    text-align: center;
}
#Do-text{
    padding: 0 150px;
    text-align: center;
}
.skills{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 10px 5px 10px 10px rgb(240, 232, 232);
    border-radius: 10px;
}
/* resume-sction styles */
.resume-main-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.resume-sub-head{
    color: #757575;
    font-size: 13px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
}
.resume-colum{
    margin-right: 40px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer start  */
footer{
    background-color: #FFF8F3;
    display: flex;
    margin-top: 100px;
    gap: 150px;
    padding: 100px 240px;
}
#input{
    padding: 5px 5px;
}
.footer-cols{
    width: 50%;
}
input,textarea{
    padding: 15px 25px;
    border: none;
}
